{% extends "layout.html" %}

{% block body %}
<h1>Mitä haluat tehdä?</h1>



<table sty>
  <tr>
    <td>
      <b>Askare lista:</b>
    </td>
    <td>
      &nbsp &nbsp
    </td>
    <td>
      Askare listasta löydät kaikki sinun askareesi. <br> Sieltä pääset myös tarkastelemaan ja muokkaamaan askareitasi.
    </td>
  </tr>
  <tr>
    <td>&nbsp</td>
  </tr>
  <tr>
    <td>
      <b>Lisää askare:</b>
    </td>
    <td>
    </td>
    <td>
      Askareen lisäyksessä voit luoda itsellesi uusia askareita.<br> Ne tulevat näkyviin vain sinulle.
    </td>
  </tr>
  <tr>
    <td>&nbsp</td>
  </tr>
  <tr>
    <td>
      <b>Luokka lista:</b>
    </td>
    <td></td>
    <td>
      Luokka listassa näet kaikki luokat. <br> Täältä näet myös muiden käyttäjien tekemät luokat.
    </td>
  </tr>
  <tr>
    <td>&nbsp</td>
  </tr>
  <tr>
    <td>
      <b>Lisää luokka:</b>
    </td>
    <td></td>
    <td>
      Täällä voit luoda uuden luokan.<br> Muista kuitenkin, että luokka tulee kaikille näkyviin.
    </td>
  </tr>
</table>


{% endblock %}
