{% extends "layout.html" %}

{% block body %}
    <table>
        <tr>
            <th>
                Luokka
            </th>
        </tr>
        {% for luokka in luokat %}

        <tr>
            <td>
            {{ luokka.nimi }}
            </td>
            <td>
                <td>
                    <form method="POST" action="{{ url_for('luokka_avaa_yksittainen', luokka_id=luokka.id) }}">
                        <input class="btn btn-warning" type="submit" value="Tarkastele"/>
                    </form>
                </td>
            </td>
            <td>
                <form method="POST" action="{{ url_for('luokka_remove', luokka_id=luokka.id) }}">
                    <input class="btn btn-warning" type="submit" value="Poista!"/>
                </form>
            </td>
        </tr>
        {% endfor %}
        
    </table>

{% endblock %}