{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Askare</th>
      <th> <font color="white"> :-) </font> </th>
      <th>Suoritettu</th>
      
    </tr>
    {% for task in tasks %}
    {% if task.kayttaja_id == id %}
    <tr>
      <td>
        {{ task.name }}
      </td>
      <td>   
      </td>
      <td>
        {% if task.done %}
          Kyllä.
        {% else %}
          Ei.
        {% endif %}
      </td>
      <td>
      	<form method="POST" action="{{ url_for('tasks_avaa_yksittainen', task_id=task.id) }}">
	        <input type="submit" value="Avaa yksittäisenä!"/>
	      </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('tasks_remove', task_id=task.id) }}">
          <input type="submit" value="Poista!"/>
        </form>
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
{% endblock %}
