{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('tasks_create') }}">
  <table>
    <tr>
      <td>
        {{ lomake.nimi.label }}
      </td>
      <td>
        {{ lomake.nimi }}
      </td>
      <td>
        <ul>
          <div style="background-color: bisque">
          {% for error in lomake.nimi.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </div>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ lomake.tehty.label }}
      </td>
      <td>
        {{ lomake.tehty }}
      </td>
    </tr>
    <tr>
      <td colspan="5">
        <input type="submit" value="Lisää  tämä askare"/>
      </td>
    </tr>
  </table> 
</form>
{% endblock %}
