{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('tasks_create') }}">
  <table>
    <tr>
      <td>
        {{ lomake.nimi.label }}
      </td>
      <td>
        {{ lomake.nimi }}
      </td>
      <td>
        <ul>
          <div style="background-color: bisque">
            {% for error in lomake.nimi.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </div>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ lomake.aikavaatimus.label }}
      </td>
      <td>
        {{ lomake.aikavaatimus }}
      </td>
    </tr>

    <tr>
      <td>
        {{ lomake.kiireellisyys.label }}
      </td>
      <td>
        {{ lomake.kiireellisyys( placeholder = "1 = Ei. 2 = Kyllä.") }}
      </td>
    </tr>
    <tr>
      <td>
        {{ lomake.tehty.label }}
      </td>
      <td>
        {{ lomake.tehty }}
      </td>
    </tr>
    {% if not luokat == 0 %}
      <tr>
        <td>
          <b>Valitse askareelle luokat:</b>
        </td>
      </tr>
    {% endif %}
    {% for luokka in luokat %}
      <tr>
        <td>
            <input type="checkbox" value= "{{ lista.append(luokka.id)}}"> {{ luokka.nimi }}<br>
      </td>
      </tr>
    {% endfor %}
    <tr>
      <td colspan="5">
        <input type="submit" value="Lisää  tämä askare" />
      </td>
    </tr>
  </table>
</form>
{% endblock %}
